.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  background-color: #f4f4f4;
  margin: 1rem;
}

.blog-item:hover {
  background-color: #e4e4e4;
}

.blog-markdown {
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1rem;
}

.tag-item {
  margin-right: 1rem;
  margin-top: 0.5rem;
  background-color: cadetblue;
  border-radius: 10px;
  padding: 0.3rem;
  width: 80px;
  text-align: center;
  font-size: 0.8rem;
}

.tag-item:hover {
  color: white;
  background-color: #333;
}
