.tag-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin: auto;
}

.tag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: cadetblue;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s ease;
}

.tag-item:hover {
  transform: scale(1.1);
  background-color: teal;
  font-weight: bold;
  transition: 0.3s ease;
}

.tag-badge {
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}

.tag-counter {
  text-align: center;
}
