.footer {
  flex-shrink: 0;
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-item {
  margin-right: 2rem;
  transform: scale(1.5);
  cursor: pointer;
}

.footer-item:hover {
  color: cadetblue;
  transform: scale(1.8);
}

a {
  color: inherit;
}
