.post-title {
  font-weight: bold;
  padding: 5px;
}

.post-date {
  padding-top: 0.5rem;
}

.post-date,
.post-title,
.post-intro {
  padding-left: 1rem;
}

.post-date,
.post-intro {
  font-style: italic;
  font-size: 0.8rem;
}
